.DS_Store
node_modules
*/node_modules
npm-debug.log
*.swp
.sw*
.idea/*
.jshintrc
.travis.yml
.sass-cache/
.project
mods/.sass-cache/
!.gitignore
!.editorconfig
stats.json
_dist
_package
.vscode
.cachefile
.happypack
build
!vendor/base/build
!src/widgets/base/build
!src/widgets/css/build
build_offline
build-cloud.json
